PORT=5000
MongoDb_Connection_String=mongodb://127.0.0.1:27017/figgy
FIREBASE_PROJECT_ID=battingapp-2fd92
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account.json
secretKey=
projectName=Batting
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
